/* https://colorhunt.co/palette/225739 */

.wraper {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 48px;
    width: 100%;
    background-color: #008891;
    color: #e7e7de;
    font-size: 1.6em;
    text-align: center;
    line-height: 48px;
    font-weight: 600;
}

.body {
    padding: 20px;
    font-size: 1.2em;
}

.todo-input {
    border: #aaa 2px solid;
    height: 40px;
    color: #005157;
    box-sizing: border-box;
    padding: 0 10px;
    display: inline;
}

.todo-input:focus {
    outline: none;
    border: #008891 2px solid;
    transition: 0.3s;
}

.btnAdd {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    color: #e7e7de;
    background-color: #008891;
    border: #008891 2px solid;
    cursor: pointer;
    padding: 0;
}

.btnAdd:focus {
    outline: none;
}

.btnAdd:hover {
    background-color: #109999;
}

.list-todos {
    padding-left: 0;
    margin: 10px 0 10px 40px;
    color: #005157;
    font-size: larger;
    height: 50vh;
    max-width: 500px;
    margin-right: 50px;
    border-radius: 5px;
}


.list-item {
    position: relative;
    padding: 16px 0 16px 30px;
    border-bottom: #aaa 1px solid;
    width: 100%;
}

.list-item:hover {
    z-index: 1;
    transform: translateX(5px);
    transition: 0.2s;
    border-bottom: #005157 1px solid;
}

.list-item:hover .tooltip {
    opacity: 1;
    transition: 0.5s;
}

.list-item--done span {
    text-decoration: line-through;
    color: gray;
}

.list-item span {
    display: inline-block;
    overflow: hidden;
    max-width: 70%;
    height: 30px;
    text-overflow: ellipsis;
}

.list-item .tooltip {
    height: 28px;
    background-color: #eee;
    position: absolute;
    top: -30px;
    border: #005157 1px solid;
    border-radius: 6px;
    font-size: 12px;
    line-height: 28px;
    padding: 0 6px;
    opacity: 0;
}

.list-todos li:hover .delBtn{
    opacity: 1;
}

.list-todos li:hover .markAsDoneBtn{
    opacity: 1;
}

.markAsDoneBtn {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0;
    transition: 0.2s;
}

.delBtn {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0;
    transition: 0.2s;
}

