/* https://colorhunt.co/palette/225739 */

.wraper {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 48px;
    width: 100%;
    background-color: #008891;
    color: #e7e7de;
    font-size: 1.6em;
    text-align: center;
    line-height: 48px;
    font-weight: 600;
}

.body {
    padding: 10px 20px;
    font-size: 1.2em;
    width: 100%;
}

.todo-input {
    border: #aaa 2px solid;
    border-radius: 5px;
    padding: 5px;
    color: #005157;
}

.todo-input:focus {
    outline: none;
    border: #008891 2px solid;
    transition: 0.3s;
}

.btnAdd {
    margin-left: 10px;
    color: #e7e7de;
    background-color: #008891;
    border: #008891 2px solid;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.btnAdd:focus {
    outline: none;
}

.btnAdd:hover {
    background-color: #109999;
}

.list-todos {
    list-style-type: none;
    padding: 10px 10px;
    margin: 10px 0;
    color: #005157;
    font-size: larger;
    max-width: 500px;
    margin-right: 50px;
    border-radius: 5px;
}

.list-todos li {
    padding: 20px 0 20px 30px;
    border-bottom: #aaa 1px solid;
    
}

.list-todos li:hover {
    z-index: 1;
    transform: translateX(5px);
    transition: 0.2s;
    border-bottom: #005157 1px solid;
}

.list-item--done {
    text-decoration: line-through;
    opacity: 0.5;
}

.list-todos li:hover .delBtn{
    opacity: 1;
}

.list-todos li:hover .markAsDoneBtn{
    opacity: 1;
}

.markAsDoneBtn {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0;
    transition: 0.2s;
}

.delBtn {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0;
    transition: 0.2s;
}

